[bumpversion]
current_version = 2.0.23
commit = True
message = Update version {current_version} -> {new_version}

[bumpversion:file:pom.xml]
search = <version>{current_version}</version>
replace = <version>{new_version}</version>

[bumpversion:file:modules/common/pom.xml]
search = {current_version}
replace = {new_version}

[bumpversion:file:modules/coverage-reports/pom.xml]
search = {current_version}
replace = {new_version}

[bumpversion:file:modules/secrets-manager/pom.xml]
search = {current_version}
replace = {new_version}

[bumpversion:file:README.md]
search = {current_version}
replace = {new_version}
